@font-face {
    font-family: "pixel";
    src: url(ARCADECLASSIC.TTF);
}
@font-face {
    font-family: "Fonts";
    src: url(joystix\ monospace.otf);
}

body {
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav img{
    width: 5%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: pixel;
    color: white;
}

nav {
    height: 103px;
    width: 100%;

}

.Company {
  color: white;
  font-size: 60px;
  line-height: 100px;
  vertical-align: top;
  margin: 10px;
}

nav ul {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

nav ul li {
    font-size: 25px;
    display: inline-block;
    line-height: 100px;
    margin: 0 40px;
    padding: 0 15px;
}

nav ul li a:hover {
    background-color: rgba(243, 243, 243, 0.5);
    transition: ease-in;
    transition-duration: 150ms;
    color: whitesmoke;
    cursor: pointer;
    padding: 7px;
    margin: -7px;
}